<IfModule mod_rewrite.c>
    RewriteEngine On
    #RewriteBase /

    # Accept loading of actual files and directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Route requests to the index.php with query string for MVC
    RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
</IfModule>
